.body {
    background-color: rgb(5, 82, 31);
}

.recording-area {
    float: left;
    margin-left: 5%;
    width: 15%;
    background-color: white;
    border: black;
    border-style: dashed;
    margin-top: 30px;
}

.title {
    font-weight: 200;
    font-size: 2em;
    font-family: fantasy;
    text-align: center;
}

.image {
    width: 50%;
    margin-left: 25%;
}

.time {
    text-align: center;
    font-size: 2em;
}

.players-block {
    width: 70%;
    margin-left: 15%;
    margin-top: 1em;
    background-color: tomato;
    border-radius: 1em;
    border-style: solid;
}

.player {
    font-weight: 800;
    font-size: 1.2em;
    text-align: center;
}

.count {
    font-weight: 800;
    font-size: 1em;
    text-align: center;
}

.button-area {
    float: left;
    width: 10%;
    margin-top: 5em;
}

.game-area {
    float: left;
    margin-top: 1em;
    width: 720px;
    background-color: rgb(245, 131, 65);
    border-style: dashed;
    height: 720px;
    position: relative;
}
 
.safe-block {
    width: 10em;
    height: 10em;
    background-color: yellow;
}

#safe-block1 {
    float: left;
}

#safe-block2 {
    float: right;
}

#safe-block3 {
    position: absolute;
    bottom: 0px;
}

#safe-block4 {
    position: absolute;
    bottom: 0px;
    right: 0px;
}

.safe {
    margin-top: 4em;
    text-align: center;
    font-weight: 500;
    font-family: fantasy;
}

.input-block {
    display: block;
    background-color: rgba(43, 226, 180, 0.788);
    width: 30%;
    margin-left: 35%;
    margin-top: 15em;
    border-style: dashed;
    padding: 1%;
}

.input-name {
    text-align: center;
    font-weight: 1000;
    font-size: 1.5em;
    font-family: 'Times New Roman', Times, serif;
}

.input-area {
    width: 60%;
    margin-left: 12%;
}

.character-container {
    width: 5%;
}

.character {
    width: 100%;
}

#container1 {
    position: absolute;
    top: 100px;
    left: 450px;
}

#container2 {
    position: absolute;
    top: 200px;
    left: 150px;
}

#container3 {
    position: absolute;
    top: 450px;
    left: 400px;
}

.name {
    text-align: center;
    font-size: 1.1em;
    margin-top: 0;
}

.result-block {
    display: none;
    background-color: violet;
    border-style: dotted;
    width: 40%;
    margin-left: 30%;
    margin-top: 12em;
}

.result {
    text-align: center;
    font-size: 1.5em;
    font-family: serif;
    font-weight: 500;
}
